<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Contact List</title>
</head>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  .th {
    background-color: #4287f5;
    color: white;
    text-align: left;
    padding: 16px;
  }

  td {
    width: 150px;
    text-align: left;
    border: 1px solid black;
    padding: 16px;
  }

  .header {
    margin: auto;
    width: 20%;
    border: 2px solid #5c594c;
    padding: 9px;
  }

  .center {
    text-align: center;
  }

  .h2 {
    text-align: center;
  
    }
</style>

<body>
  <div class="center">
    <h2 style="margin:8px">Contact List</h2>
  </div>
  <div id="myDIV" class="header">
    <input class="col-xs-3" type="text" id="name" placeholder="Name..."
      style="background-color:#DCDCDC; height:40px; width: 235px">
    <span class="addBtn"></span>
  </div>
  <div id="myDIV" class="header">
    <input class="col-xs-4" type="number" id="phone" placeholder="Phone No..."
      style="background-color:#DCDCDC; height:40px; width: 235px; margin-top: 5%">
    <span class="addBtn"></span>
  </div>
  <div id="myDIV" class="header">
    <input class="col-xs-5" type="email" id="email" placeholder="E-mail..."
      style="background-color:#DCDCDC; height:40px; width: 235px; margin-top: 5%">
    <span class="addBtn"></span>
  </div>
  <div class="center">
    <button onclick="addContact()" action="addContact" type="submit" form="nameform" value="Submit"
      style="background-color:#DCDCDC; height:40px; margin-top: 2.5%">Add Contact</button>
  </div>

  <table id=list></table>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="/public/javascript/index.js"></script>

</body>

</html>