<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<ul>
    <li><a class="navbar-brand" href="/">Contact-App</a></li>
    <div class="topnav-right">
    <li><a class="btn btn-success" href="/signup"> Sign up </a>
    </div>
  </ul>
<body>

<div class="bg-img">
  <form action="/action_page.php" class="container">
    <h1>Login</h1>
    
    <label for="email"><i class="fas fa-user"></i><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><i class="fas fa-lock"></i><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
  </form>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
</html>
